table {
	border-collapse: collapse;
	height: calc(100vw - 10px);
	width: calc(100vw - 10px);
}

.border {
	border: solid 2px black;
	border-spacing: 0px;
	padding: 0px;
	width: 20px;
	height: 20px;
	margin: 50% 50% 50% 50%;
}
#a1 {
	border-top: none;
	border-left: none;
}

#a2 {
	border-top: none;
}

#a3 {
	border-top: none;
	border-right: none;
}

#a4 {
	border-left: none;
}
#a6 {
	border-right: none;
}
#a7 {
	border-left: none;
	border-bottom: none;
}
#a8 {
	border-bottom: none;
}
#a9 {
	border-bottom: none;
	border-right: none;
}
